<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/student3_118006.ico">
    <link rel="stylesheet" href="/static/CSS/mainstyle.css">
    <link rel="stylesheet" href="/static/CSS/formstyle.css">
    <title>Reset Password</title>
</head>
{% include 'header.html' %}
<body>
    <h1>
        Here you can reset your password.
        
    </h1>
    <form action="#" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="username" required>
        <br><br>
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required>
        <br><br>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <br><br>
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>