/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: auto;
}

/* Header Container */
.header-container {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ecebe6;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

/* Logo */
.logo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}

/* Navigation Links */
.nav-links {
  display: flex;
  gap: 15px;
  align-items: right;
  top: 50px;
  float: right;
}

.nav-links a {
  color: rgb(207, 176, 36);
  text-decoration: none;
  padding: 8px 12px;
  transition: 0.3s ease;
  border-radius: 5px;
}

.nav-links a:hover {
  background-color: #dda85a;
  border-radius: 10px;
  color: rgb(243, 16, 16);
}

/* Toggle Button */
.toggle-btn {
  display: none;
  background: none;
}

/* Mobile View */
@media screen and (max-width: 768px) {
  .header-container{
    position: relative;
  }

  .toggle-btn {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1002;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 60px;
    background: #2c291e;
    min-width: 150px;
    z-index: 1001;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }

  /* Show when .show class is added */
  .nav-links.show {
    display: flex;
  }

  .nav-links a {
    padding: 10px;
    border-bottom: 1px solid #444;
  }

  .nav-links a:last-child {
    border-bottom: none;
  }
}
